/*I used some ai to get the code working
The parts of the page are broken into items like menu. Food card. Food grid. These are created in the HTML
and the CSS file aplies a format like a colour a size or a hover animation. I created multipul CSS files for each HTML page.*/

body{
    font-family: Arial, sans-serif;
    background-color: #f7f3ed;
    text-align: center;
    padding: 20px;
}


form{
    margin: 20px;
}


input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
}


table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}


th{
    background-color: #8b4513;
    color: white;
    padding: 12px;
}


td{
    padding: 10px;
    border: 1px solid #ccc;
}


button{
    background-color: #8b4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover{
    background-color: #5c2e0b;
}


#TotalOutput,
#ReceiptOutput{
    background-color: white;
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #8b4513;
}