body{
background:#fff5e6;
font-family:Arial;
margin:0;
}

header{
background:#ff6600;
color:white;
text-align:center;
padding:20px;
}

nav{
margin-top:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
background:linear-gradient(to right,#ff9933,#ffd966);
padding:40px;
text-align:center;
}

.hero img{
width:500px;
max-width:90%;
border-radius:20px;
box-shadow:0 0 20px grey;
}

.menu{
padding:30px;
text-align:center;
}

.foodGrid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.foodCard{
background:white;
padding:15px;
border-radius:15px;
box-shadow:0 0 10px lightgrey;
transition:.3s;
}

.foodCard:hover{
transform:scale(1.05);
background:#fff0cc;
}

.foodCard img{
width:100%;
height:100px;
object-fit:cover;
border-radius:10px;
}

.foodCard h3{
color:#cc3300;
}

.orderBox{
width:450px;
margin:40px auto;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px grey;
}

input,select{
width:100%;
padding:12px;
font-size:16px;
border-radius:8px;
border:1px solid grey;
}

button{
width:100%;
padding:15px;
font-size:18px;
background:#00b050;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#009640;
}

.receipt{
width:450px;
margin:30px auto;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 0 15px grey;
}

.success{
color:green;
font-size:22px;
font-weight:bold;
}

.fail{
color:red;
font-size:22px;
font-weight:bold;
}

.change{
color:#0066cc;
font-size:20px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}